.services__section {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.dot{
    display: inline-block;  
    width: 10px;  
    height: 10px;  
    background-color: #FFD339; 
    border-radius: 50%; 
    margin: 0 10px;
}


.section__navtitle {
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 15px;
    animation: scaleUp 0.8s ease forwards;
}

.services{
    width: 80%;
    margin: 1em auto;
}
.section__services {
    position: relative;
    padding: 6.5em 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
}


.details__services {
    animation: scaleUp 0.8s ease forwards;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 2em;
}

.music--service, .video--service, .photos--service {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    align-content: center;
    justify-content: center; 
    transition: transform 0.5s ease;
}

.music--service.text, .video--service.text, .photos--service.text {
    align-content: center;
    flex-wrap: wrap;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.music--service.image {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    max-width: 150px; 
}

.video--service.image {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    max-width: 200px; 

}

.photos--service.image {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    max-width: 200px; 

}

.music--service.image:hover , .video--service.image:hover , .photos--service.image:hover {
    transform: scale(1.1);
}

.music--service.text:hover , .video--service.text:hover , .photos--service.text:hover {
    transform: scale(1.03);
}

.details__letters.name {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

.details__info {
    line-height: 1.6;
    font-size: 1em;
}

.service-icon {
    margin-top: 3rem;
    width: 100%;
    max-width: 300px; 
    height: auto;
}

.music--service.text {
    order: 1;
    text-align: left;
}
.music--service.image {
    order: 2;
}

.video--service.text {
    order: 2;
    text-align: right;
}
.video--service.image {
    order: 1;
}

.photos--service.text {
    order: 1;
    text-align: left;
}
.photos--service.image {
    order: 2;
}


@media (max-width: 768px) {
    .services{
        width: 100%;
    }
    .video--service.text {
        order: 1;
    }
    .video--service.image {
        order: 2;
    }
    .details__services {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3em 0;
    }   
    .details__letters.name{
        font-size: 1em;
    }
    .details__info{
        font-size: .8em;
    }
    .music--service,.video--service,.photos--service{
        gap: 1em;
        span,p{
            text-align: center;
        }
    }
    .service-icon{
        margin-top: 1em;
    }
}